@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #434371;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    height: 100%;
}

.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    width: 100%;
    padding: 24px;
    margin: 60px 0px 20px;
    border: 1px solid #bfbfbf;
    border-radius: 24px;
}

.container header .title {
    color: #FFFFFF;
}

.container header .score-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px 16px;
    border-radius: 12px;
    background-color: #FFFFFF;
}

.container header .score-box .text {
    font-weight: 500;
    font-size: 18px;
}

.container header .score-box .score {
    margin: 10px 0px 10px;
    font-size: 48px;
    line-height: 48px;
}

.container .game {
    width: 100%;
    margin-top: 50px;
}

.container .game .button-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container .game .button-screen .box {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.container .game .button-screen button {
    width: 256px;
    height: 256px;
    padding: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.container .game .button-screen #rock {
    border: 15px solid #3993dd;
}

.container .game .button-screen #paper {
    border: 15px solid #cf2d38;
}

.container .game .button-screen #scissor {
    border: 15px solid #ead94c;
}

.container .game button img {
    width: 100%;
}

.container .game button:active > img {
    width: 95%;
}

footer {
    position: absolute;
    bottom: 10px;
}

footer span {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

footer span a {
    color: #cf2d38;
}

footer #rules {
    display: none;
}